.banner{
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
    .pic{
        height: 480px;
        width: 100%;
        position: relative;
        overflow: hidden;
        li{
            height: 480px;
            width: 1920px;
            position: absolute;
            top: 0;
            left: 1640px;
        }
        .picfirst{
            left: -280px;
        }
    }
    img{
        display: block;
        border: 0;
    }
    .btn{
        position: absolute;
        right: 200px;
        bottom: 30px;
        span{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            float: left;
            background: none;
            border: 1px solid #fff;
            margin-left: 5px;
            cursor: pointer;
        }
        .btnhover{
            background: #fff;
        }
    }
}

.menu{
    position: absolute;
    left: 100px;
    top: 0;
    z-index: 10;
    width: 250px;
    height: 480px;
    background-color: rgba(248, 247, 247, 0.8);
    &>li:hover{
        background: #fff;
    }
    h4{
        font-weight: normal;
        padding-bottom: 8px;
        a{
           color: #333; 
        }
    }
    ul{
        overflow: hidden;
        width: 192px;
        height: 19px;
        position: relative;
        li{
            float: left;
            margin-right: 10px;
        }
        a{
            color: #999999;
            font-size: 12px;
        }
    }
    .more-goods-block{
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 250px;
        display: none;
        .goods-block{
            display: inline-block;
            float: left;
            height: 480px;
            width: 320px;
            box-sizing: border-box;
        }
        .list-unstyled{
            width: 320px;
            padding: 3px 15px;
            box-sizing: border-box;
            li{
                padding: 15px 0;
                width: 46%;
                float: left;
                box-sizing: border-box;
            }
            img{
                width: 50px;
                height: 50px;
                vertical-align: middle;
                border: 0;
            }
            .goods-image{
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                float: left;
                text-align: center;
                box-sizing: border-box;
            }
            .goods-name{
                display: inline-block;
                line-height: 50px;
                margin-left: 8px;
                overflow: hidden;
                float: left;
                box-sizing: border-box;
            }
        }
    }
}
.menu>li{
    padding: 11.5px 20px 10px 22px;
    position: relative;
}


.menu-1:hover .more-goods-block{
    display: block;
}
