.hardware{
    overflow: hidden;
    background: #F5F5F5;
}
.hardware-title{
    height: 92px;
    overflow: hidden;
    .hardware-t{
        float: left;
        margin-top: 34px;
    }
    span{
        display: inline-block;
        font-size: 22px;
        margin-left: 5px;
    }
    strong{
        padding-left: 5px;
        font-weight: normal;
    }
}

.hardware-goods{
    overflow: hidden;
    .smart{
        float: left;
        width: 300px;
        text-align: center;
        background: #fff;
        margin: 0 5px 10px 5px;
        box-sizing: border-box;
    }
    img{
        display: block;
        width: 150px;
        height: 150px;
        border: 0;
        padding-top: 25px;
        margin-left: 15px;
    }
    .scalegoods-img{
        width: 180px;
        height: 180px;
        position: relative;
        overflow: hidden;
        margin-left: 60px;
    }
    .scalegoods-description{
        p{
            font-size: 15px;
            color: #333;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        div{
                font-size: 12px;
                color: #b0b0b0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: -10px;
        }
        span{
            display: block;
            margin-top: 18px;
            padding-bottom: 24px;
            color: #fc6822;
        }
    }
}
