@charset "utf-8";
@import "header";
@import "footer";
@import "banner";
@import "purchase";
@import "mobilephone";
@import "parts";
@import "hardware";

body{
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    font-family: "微软雅黑";
}
li{list-style: none}
a{text-decoration: none;}
ul,h4{padding: 0;margin: 0;}
.wrapper{width: 1230px;margin: 0 auto;}
.wrapper1240{width: 1240px;margin: 0 auto;}
.clearfix{display: table;content: "";clear: both;}

.listnav{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 80px;
    width: 42px;
    height: 129px;
    a{
        display: block;
        width: 42px;
        height: 42px;
        margin-top: 1px;
        background: url(../images/kf.jpg);
        transition: background-position 1s;
    }
    .listnav-1{
        a{
            background-position: 0 -798px;
        }
        a:hover{
            background-position: 0 -860px;
        }
    }
    .listnav-2{
        a{
            background-position: 0 -426px;
        }
        a:hover{
            background-position: 0 -488px;
        }
    }
    .listnav-3{
        a{
            background-position: 0 -674px;
        }
        a:hover{
            background-position: 0 -736px;
        }
    }
}

//左侧楼梯样式
#loutinav {
    width: 35px;
    position: fixed;
    z-index: 15;
    top: 200px;
    left: 15px;
    border: 1px solid #ddd;
    display: none;
}

#loutinav ul li {
    width: 35px;
    height: 32px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #999;
    color: #fff;
}

#loutinav ul li span {
    width: 35px;
    height: 32px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#loutinav ul li.last {
    background: #666;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#loutinav ul li.loutiactive span {
    background: #c00;
    color: #fff;
    display: block;
}

#loutinav ul li:hover span {
    background: #c00;
    color: #fff;
    display: block;
}