@charset "utf-8";
@import "footer";


body{
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    font-family: "微软雅黑";
}
li{list-style: none}
a{text-decoration: none;}
ul,h4{padding: 0;margin: 0;}
.wrapper{width: 1230px;margin: 0 auto;}
.wrapper:after{
    content: "";
    display: table;
    clear: both;
}
.wrapper1240{width: 1240px;margin: 0 auto;}

.listnav{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 80px;
    width: 42px;
    height: 129px;
    a{
        display: block;
        width: 42px;
        height: 42px;
        margin-top: 1px;
        background: url(../images/kf.jpg);
        transition: background-position 1s;
    }
    .listnav-1{
        a{
            background-position: 0 -798px;
        }
        a:hover{
            background-position: 0 -860px;
        }
    }
    .listnav-2{
        a{
            background-position: 0 -426px;
        }
        a:hover{
            background-position: 0 -488px;
        }
    }
    .listnav-3{
        a{
            background-position: 0 -674px;
        }
        a:hover{
            background-position: 0 -736px;
        }
    }
}

.header-left{float: left;}
.header-right{float: right;}
.header{
    height: 40px;
    background: #f8f8f8;
    line-height: 40px;
    li{
        float: left;
        }
    a{
        color: #787878;
        font-size: 12px;
        padding: 0 10px;
        line-height: normal;
        display: inline-block;
        img{
            vertical-align: middle;
            margin-bottom: 4px;
         }
        }
    a:hover{
        color: #000;
    }
    :before{
        display: table;
        content: "";
        clear: both;
    }
    ul{
        :before{
           display: table;
           content: "";
           clear: both;
        }
    }
}

.middle{
    background: #f8f8f8;
}
.m-left{
    display: inline-block;
    float: left;
    width: 450px;
    height: 334px;
    margin-top: 80px;
    text-align: right;
    padding-right: 80px;
    margin-bottom: 10px;
    background: url(../images/icon-line.png) no-repeat right center;
    img{
        width: 334px;
        height: 334px;
    }
}

.m-right{
    display: inline-block;
    margin-left: 80px;
    float: left;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    width: 332px;
    box-shadow: none;
    .reg-title{
            background-color: transparent;
            border-bottom: none;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            padding: 0 15px;
    }
    .reg-contents{
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        div{
            width: 332px;
            height: 40px;
            padding: 0;
            position: relative;
            margin-bottom: 12px;
            padding: 3px;
            box-sizing: border-box;
        }
        input{
            width: 326px;
            border-radius: 2px;
            display: block;
            height: 34px;
            font-size: 14px;
            padding-left: 12px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }
        p{
            width: 340px;
            text-align: center;
        }
        #checkinput{
            width: 221px;
            height: 27px;
            span{
                cursor: pointer;
                margin-right: 6px;
            }
            a{
                color: #ccc;
            }
        }
        #check{
            display: inline-block;
            width: 13px;
            height: 13px;
            vertical-align: middle;
            margin-right: 5px;
            margin-top: -2px;
        }
        #sub{
            width: 340px;
            height: 40px;
            border-radius: 2px;
            background-color: #0186d1;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }
}

