@charset "UTF-8";
.header-top-left {
  float: left;
}

.header-top-right {
  float: right;
}

.header-top {
  height: 40px;
  width: 100%;
  background: #f8f8f8;
  line-height: 40px;
}
.header-top li {
  float: left;
}
.header-top a {
  color: #787878;
  font-size: 12px;
  padding: 0 10px;
  line-height: normal;
  display: inline-block;
}
.header-top a img {
  vertical-align: middle;
  margin-bottom: 4px;
}
.header-top a:hover {
  color: #000;
}
.header-top:before {
  display: table;
  content: "";
  clear: both;
}
.header-top ul :before {
  display: table;
  content: "";
  clear: both;
}

.header-bot {
  width: 100%;
  position: relative;
}
.header-bot:after {
  display: table;
  content: "";
  clear: both;
}
.header-bot .logo {
  float: left;
  width: 250px;
  height: 35px;
  margin-top: 25px;
}
.header-bot .nav {
  width: 660px;
  padding-left: 65px;
  float: left;
}
.header-bot .nav:before {
  display: table;
  content: "";
  clear: both;
}
.header-bot .nav li {
  float: left;
  margin: 0 15px;
  height: 35px;
  padding: 25px 0;
  line-height: 35px;
}
.header-bot .nav a {
  color: #333;
}
.header-bot .nav a:hover {
  color: #0086d1;
}
.header-bot .search {
  float: right;
  width: 216px;
  height: 35px;
  margin-top: 25px;
}
.header-bot .search:before {
  display: table;
  content: "";
  clear: both;
}
.header-bot .search .search-input {
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 10px;
}
.header-bot .search .search-input input {
  width: 140px;
  height: 35px;
  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-right: none;
  outline: none;
  padding: 0 0px 0 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header-bot .search .search-button {
  display: inline-block;
  float: left;
  margin-left: -5px;
  cursor: pointer;
  height: 35px;
  width: 36px;
  padding: 0px 6px;
  background-color: #fff;
  border-top: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header-bot .search img {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}

.axonbox, .bladebox {
  position: absolute;
  left: 0;
  top: 85px;
  z-index: 20;
  width: 100%;
  min-height: 228px;
  background-color: #ffffff;
  display: none;
  height: 228px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  color: #333;
}
.axonbox .list-daonav li, .bladebox .list-daonav li {
  float: left;
  width: 205px;
  height: 228px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.axonbox .list-daonav li a, .bladebox .list-daonav li a {
  display: block;
  color: #333;
}
.axonbox .list-daonav li .goods-img, .bladebox .list-daonav li .goods-img {
  width: 204px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}
.axonbox .list-daonav li .goods-img > img, .bladebox .list-daonav li .goods-img > img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: block;
  border: 0;
  box-sizing: border-box;
  margin-left: 35px;
}
.axonbox .list-daonav li .goods-content, .bladebox .list-daonav li .goods-content {
  margin-top: 10px;
  padding-bottom: 8px;
  transition: all 0.45s;
}
.axonbox .list-daonav li .goods-title, .bladebox .list-daonav li .goods-title {
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #666;
}
.axonbox .list-daonav li .goods-price, .bladebox .list-daonav li .goods-price {
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #fc6628;
  font-size: 12px;
}

.footer {
  background: #fff;
  width: 100%;
}

.footer-bot {
  padding-top: 17px;
  padding-bottom: 16px;
  border-top: 1px solid #ccc;
}
.footer-bot div {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 11px;
}
.footer-bot div a {
  display: inline-block;
  color: #767676;
  margin: 0px 10px;
}
.footer-bot div a:hover {
  color: #000;
}
.footer-bot p {
  width: 700px;
  text-align: center;
  color: #C2C2C2;
  margin: 0 auto;
  font-size: 12px;
}
.footer-bot p a {
  color: #C2C2C2;
}
.footer-bot p img {
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 36px;
}

.footer-mid {
  overflow: hidden;
  border-top: 1px solid #ccc;
  padding: 45px;
  padding-left: 68px;
}
.footer-mid h4 {
  font-weight: normal;
}
.footer-mid h4 a {
  color: #000;
  font-size: 16px;
}
.footer-mid .contact, .footer-mid .help, .footer-mid .service, .footer-mid .about {
  float: left;
  width: 100px;
  height: 192px;
}
.footer-mid .contact p, .footer-mid .help p, .footer-mid .service p, .footer-mid .about p {
  padding: 5px 0;
}
.footer-mid .contact p a:hover, .footer-mid .help p a:hover, .footer-mid .service p a:hover, .footer-mid .about p a:hover {
  color: red;
}
.footer-mid .help, .footer-mid .service, .footer-mid .about {
  margin-left: 60px;
}
.footer-mid a {
  font-size: 12px;
  color: #999;
}
.footer-mid .customer {
  float: left;
  margin-left: 276px;
  margin-top: 25px;
}
.footer-mid .customer p {
  color: #787878;
  font-size: 12px;
  padding-top: 10px;
}
.footer-mid .kefu {
  width: 102px;
  height: 30px;
  background: #0086d1;
  line-height: 30px;
  margin-top: 16px;
  padding-left: 11px;
  border-radius: 2px;
}
.footer-mid .kefu img {
  vertical-align: middle;
  border: 0;
  margin-right: 3px;
}
.footer-mid .kefu a {
  font-size: 14px;
  color: #fff;
}

.footer-top {
  overflow: hidden;
  margin-top: 53px;
  padding-bottom: 35px;
}
.footer-top li {
  float: left;
}
.footer-top li img {
  display: inline-block;
  vertical-align: middle;
}
.footer-top li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}
.footer-top li:nth-of-type(1) {
  margin-left: 60px;
}
.footer-top li:nth-of-type(2) {
  margin-left: 130px;
}
.footer-top li:nth-of-type(3) {
  margin-left: 130px;
}
.footer-top li:nth-of-type(4) {
  margin-left: 130px;
}

body {
  font-size: 14px;
  color: #333;
  line-height: 1.42857143;
  font-family: "微软雅黑";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1230px;
  margin: 0 auto;
}

.wrapper1240 {
  width: 1240px;
  margin: 0 auto;
}

.wrapper990 {
  width: 990px;
  margin: 0 auto;
}

.listnav {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 80px;
  width: 42px;
  height: 129px;
}
.listnav a {
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 1px;
  background: url(../images/kf.jpg);
  transition: background-position 1s;
}
.listnav .listnav-1 a {
  background-position: 0 -798px;
}
.listnav .listnav-1 a:hover {
  background-position: 0 -860px;
}
.listnav .listnav-2 a {
  background-position: 0 -426px;
}
.listnav .listnav-2 a:hover {
  background-position: 0 -488px;
}
.listnav .listnav-3 a {
  background-position: 0 -674px;
}
.listnav .listnav-3 a:hover {
  background-position: 0 -736px;
}

.cart-middle {
  width: 100% !important;
  padding: 120px 0;
  margin: 0;
  border-bottom: 10px solid #f6f6f6;
}
.cart-middle .cart-blank {
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
  width: 960px;
}
.cart-middle .cart-blank:after {
  display: table;
  content: "";
  clear: both;
}
.cart-middle .cart-blank .cart-img {
  float: left;
  text-align: right;
  padding-right: 40px;
  width: 400px;
  box-sizing: border-box;
}
.cart-middle .cart-blank .cart-text {
  width: 240px;
  float: left;
  box-sizing: border-box;
}
.cart-middle .cart-blank .cart-text h3 {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: normal;
}
.cart-middle .cart-blank .cart-text p {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 200;
  margin: 0 0 10px;
}
.cart-middle .cart-blank .cart-btn {
  float: left;
  width: 319px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 30px;
}
.cart-middle .cart-blank .cart-btn p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  margin: 0 0 10px;
  box-sizing: border-box;
}
.cart-middle .cart-blank .cart-btn .rightbtn {
  display: inline-block;
  background-color: #fc6822;
  border: none;
  padding: 0;
  height: 36px;
  line-height: 36px;
  width: 110px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
}
.cart-middle .cart-m-top {
  margin-top: 10px;
}
.cart-middle .cart-m-top:after {
  display: table;
  content: "";
  clear: both;
}
.cart-middle .cart-top-left {
  height: 26px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  float: left;
  margin-bottom: 10px;
}
.cart-middle .cart-top-left a {
  color: #e4393c;
}
.cart-middle .cart-top-left a em {
  margin-right: 5px;
  font-style: normal;
}
.cart-middle .cart-m-top .footline {
  clear: both;
  height: 1px;
  background: #e0e0e0;
  position: relative;
}
.cart-middle .footline .line {
  width: 80px;
  height: 2px;
  background: #e4393c;
  position: absolute;
  z-index: 2;
}
.cart-middle .cart-wrap {
  background: #fff;
  margin-bottom: 20px;
}
.cart-middle .cart-thead {
  height: 32px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
  font-size: 12px;
  color: #666;
}
.cart-middle .cart-col {
  float: left;
}
.cart-middle .t-checkbox {
  height: 18px;
  line-height: 18px;
  padding-top: 7px;
  width: 122px;
  padding-left: 11px;
}
.cart-middle .cart-checkbox input {
  margin-right: 5px;
}
.cart-middle .t-goods {
  width: 208px;
}
.cart-middle .t-props {
  width: 140px;
  height: 32px;
  padding: 0 20px;
  text-align: right;
}
.cart-middle .t-prices {
  width: 120px;
  padding-right: 40px;
  text-align: right;
  height: 32px;
}
.cart-middle .t-quantity {
  text-align: center;
  width: 80px;
}
.cart-middle .t-sum {
  width: 100px;
  padding-right: 40px;
  text-align: right;
}
.cart-middle .cart-item-list {
  margin-bottom: 20px;
}
.cart-middle .item-list {
  border-style: solid;
  border-width: 2px 1px 1px;
  border-color: #aaa #f1f1f1 #f1f1f1;
  background: #fff;
  font-size: 12px;
}
.cart-middle .item-list a {
  color: #666;
}
.cart-middle .goods-item {
  padding: 0 10px 0 40px;
  position: relative;
}
.cart-middle .goods-item-sele {
  background: #fff4e8;
}
.cart-middle .goods-info {
  border-top: 1px solid #f1f1f1;
  overflow: hidden;
}
.cart-middle .cell {
  float: left;
}
.cart-middle .b-checkbox {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 20px;
  padding: 15px 0 10px 0;
}
.cart-middle .goods-item .cart-checkbox input {
  position: absolute;
  z-index: 2;
}
.cart-middle .cart-checkbox .line-circle {
  position: absolute;
  left: 2px;
  top: -5px;
  display: block;
  width: 7px;
  height: 29px;
}
.cart-middle .goods-item .b-goods {
  width: 300px;
  padding: 15px 0 10px 0;
}
.cart-middle .b-goods .goods-name .goods-pic {
  width: 82px;
  height: 82px;
  margin-right: 10px;
  border: 1px solid #eee;
  float: left;
}
.cart-middle .b-goods .goods-name .goods-pic img {
  width: 80px;
  height: 80px;
}
.cart-middle .goods-d-info {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
.cart-middle .goods-ex {
  margin-top: 2px;
}
.cart-middle .goods-ex .promise {
  margin: 0 10px 0 0;
  display: block;
  min-height: 18px;
  line-height: 18px;
  margin-bottom: 2px;
}
.cart-middle .promise i {
  display: inline-block;
  width: 17px;
  height: 16px;
  vertical-align: middle;
}
.cart-middle .promise a {
  display: inline-block;
  padding: 1px 4px 0 7px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
}
.cart-middle .b-props {
  height: 80px;
  padding: 15px 10px 0 10px;
  overflow: hidden;
}
.cart-middle .b-props .prop-text {
  width: 160px;
  color: #666;
}
.cart-middle .b-price {
  width: 120px;
  padding: 15px 40px 10px 0;
  overflow: hidden;
  text-align: right;
}
.cart-middle .b-price .sales-promotion {
  display: block;
  width: 53px;
  border: 1px solid #f9d2d3;
  color: #e4393c;
  height: 18px;
  text-align: left;
  line-height: 17px;
  padding: 0 15px 0 8px;
  cursor: pointer;
  background: #fff;
  text-decoration: none;
  float: right;
  overflow: hidden;
  position: relative;
}
.cart-middle .sales-promotion b {
  display: inline-block;
  width: 7px;
  height: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.cart-middle .b-quantity {
  width: 80px;
  padding: 15px 0 10px;
}
.cart-middle .b-quantity .quantity-form {
  position: relative;
  overflow: hidden;
  height: 20px;
  border: 1px solid #cacbcb;
}
.cart-middle .quantity-form a {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
  float: left;
}
.cart-middle .quantity-form .quantity-down {
  border-right: 1px solid #cacbcb;
}
.cart-middle .quantity-form .quantity-add {
  border-left: 1px solid #cacbcb;
}
.cart-middle .quantity-form input {
  width: 44px;
  height: 17px;
  float: left;
  text-align: center;
  background: white;
  border: 0;
  outline: none;
}
.cart-middle .quantity-text {
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.cart-middle .b-sum {
  width: 100px;
  height: 20px;
  padding: 15px 40px 15px 0;
  text-align: right;
}
.cart-middle .b-sum strong {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.cart-middle .b-action {
  padding: 15px 0 10px 0;
}
.cart-middle .b-action a {
  display: block;
  width: 75px;
  height: 20px;
  color: #666;
}
.cart-middle #cart-floatbar {
  width: 988px;
  height: 50px;
  border: 1px solid #f0f0f0;
  background: #fff;
  position: relative;
  font-size: 12px;
  color: #666;
}
.cart-middle .select-all {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 16px 0 16px 9px;
}
.cart-middle .operation {
  float: left;
  height: 50px;
  width: 310px;
  line-height: 50px;
}
.cart-middle .operation a {
  margin-left: 20px;
  display: inline-block;
  height: 50px;
  color: #666;
}
.cart-middle .toolbar-right {
  overflow: hidden;
}
.cart-middle .toolbar-right .btn-area {
  float: right;
}
.cart-middle .btn-area a {
  display: block;
  width: 96px;
  height: 52px;
  background: url(../images/cart-submit-btn-new.png) no-repeat;
}
.cart-middle .price-sum {
  float: right;
  height: 43px;
  line-height: 20px;
  margin: 7px 20px 0 10px;
  color: #666;
  width: 220px;
}
.cart-middle .price-sum span {
  display: inline-block;
  width: 110px;
  height: 20px;
  float: left;
  text-align: left;
}
.cart-middle .price-sum .txt {
  text-align: right;
}
.cart-middle .price-sum .totalprice {
  font-size: 18px;
  color: #e4393c;
  font-weight: 700;
}
.cart-middle .amount-sum {
  float: right;
  color: #999;
  height: 44px;
  line-height: 20px;
  margin: 7px 0 0;
  cursor: pointer;
}
.cart-middle .amount-sum em {
  color: #e4393c;
  font-family: verdana;
  font-weight: 700;
  margin: 0 3px;
}
.cart-middle .amount-sum b {
  display: inline-block;
  width: 9px;
  height: 5px;
  vertical-align: middle;
  background: url(../images/cart-icons-new.png) no-repeat -45px -91px;
}

/*# sourceMappingURL=cart.css.map */
