@charset "UTF-8";
.header-top-left {
  float: left;
}

.header-top-right {
  float: right;
}

.header-top {
  height: 40px;
  width: 100%;
  background: #f8f8f8;
  line-height: 40px;
}
.header-top li {
  float: left;
}
.header-top a {
  color: #787878;
  font-size: 12px;
  padding: 0 10px;
  line-height: normal;
  display: inline-block;
}
.header-top a img {
  vertical-align: middle;
  margin-bottom: 4px;
}
.header-top a:hover {
  color: #000;
}
.header-top:before {
  display: table;
  content: "";
  clear: both;
}
.header-top ul :before {
  display: table;
  content: "";
  clear: both;
}

.header-bot {
  width: 100%;
  position: relative;
}
.header-bot:after {
  display: table;
  content: "";
  clear: both;
}
.header-bot .logo {
  float: left;
  width: 250px;
  height: 35px;
  margin-top: 25px;
}
.header-bot .nav {
  width: 660px;
  padding-left: 65px;
  float: left;
}
.header-bot .nav:before {
  display: table;
  content: "";
  clear: both;
}
.header-bot .nav li {
  float: left;
  margin: 0 15px;
  height: 35px;
  padding: 25px 0;
  line-height: 35px;
}
.header-bot .nav a {
  color: #333;
}
.header-bot .nav a:hover {
  color: #0086d1;
}
.header-bot .search {
  float: right;
  width: 216px;
  height: 35px;
  margin-top: 25px;
}
.header-bot .search:before {
  display: table;
  content: "";
  clear: both;
}
.header-bot .search .search-input {
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 10px;
}
.header-bot .search .search-input input {
  width: 140px;
  height: 35px;
  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-right: none;
  outline: none;
  padding: 0 0px 0 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.header-bot .search .search-button {
  display: inline-block;
  float: left;
  margin-left: -5px;
  cursor: pointer;
  height: 35px;
  width: 36px;
  padding: 0px 6px;
  background-color: #fff;
  border-top: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header-bot .search img {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}

.axonbox, .bladebox {
  position: absolute;
  left: 0;
  top: 85px;
  z-index: 20;
  width: 100%;
  min-height: 228px;
  background-color: #ffffff;
  display: none;
  height: 228px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  color: #333;
}
.axonbox .list-daonav li, .bladebox .list-daonav li {
  float: left;
  width: 205px;
  height: 228px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.axonbox .list-daonav li a, .bladebox .list-daonav li a {
  display: block;
  color: #333;
}
.axonbox .list-daonav li .goods-img, .bladebox .list-daonav li .goods-img {
  width: 204px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}
.axonbox .list-daonav li .goods-img > img, .bladebox .list-daonav li .goods-img > img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: block;
  border: 0;
  box-sizing: border-box;
  margin-left: 35px;
}
.axonbox .list-daonav li .goods-content, .bladebox .list-daonav li .goods-content {
  margin-top: 10px;
  padding-bottom: 8px;
  transition: all 0.45s;
}
.axonbox .list-daonav li .goods-title, .bladebox .list-daonav li .goods-title {
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #666;
}
.axonbox .list-daonav li .goods-price, .bladebox .list-daonav li .goods-price {
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #fc6628;
  font-size: 12px;
}

.footer {
  background: #fff;
  width: 100%;
}

.footer-bot {
  padding-top: 17px;
  padding-bottom: 16px;
  border-top: 1px solid #ccc;
}
.footer-bot div {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 11px;
}
.footer-bot div a {
  display: inline-block;
  color: #767676;
  margin: 0px 10px;
}
.footer-bot div a:hover {
  color: #000;
}
.footer-bot p {
  width: 700px;
  text-align: center;
  color: #C2C2C2;
  margin: 0 auto;
  font-size: 12px;
}
.footer-bot p a {
  color: #C2C2C2;
}
.footer-bot p img {
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 36px;
}

.footer-mid {
  overflow: hidden;
  border-top: 1px solid #ccc;
  padding: 45px;
  padding-left: 68px;
}
.footer-mid h4 {
  font-weight: normal;
}
.footer-mid h4 a {
  color: #000;
  font-size: 16px;
}
.footer-mid .contact, .footer-mid .help, .footer-mid .service, .footer-mid .about {
  float: left;
  width: 100px;
  height: 192px;
}
.footer-mid .contact p, .footer-mid .help p, .footer-mid .service p, .footer-mid .about p {
  padding: 5px 0;
}
.footer-mid .contact p a:hover, .footer-mid .help p a:hover, .footer-mid .service p a:hover, .footer-mid .about p a:hover {
  color: red;
}
.footer-mid .help, .footer-mid .service, .footer-mid .about {
  margin-left: 60px;
}
.footer-mid a {
  font-size: 12px;
  color: #999;
}
.footer-mid .customer {
  float: left;
  margin-left: 276px;
  margin-top: 25px;
}
.footer-mid .customer p {
  color: #787878;
  font-size: 12px;
  padding-top: 10px;
}
.footer-mid .kefu {
  width: 102px;
  height: 30px;
  background: #0086d1;
  line-height: 30px;
  margin-top: 16px;
  padding-left: 11px;
  border-radius: 2px;
}
.footer-mid .kefu img {
  vertical-align: middle;
  border: 0;
  margin-right: 3px;
}
.footer-mid .kefu a {
  font-size: 14px;
  color: #fff;
}

.footer-top {
  overflow: hidden;
  margin-top: 53px;
  padding-bottom: 35px;
}
.footer-top li {
  float: left;
}
.footer-top li img {
  display: inline-block;
  vertical-align: middle;
}
.footer-top li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}
.footer-top li:nth-of-type(1) {
  margin-left: 60px;
}
.footer-top li:nth-of-type(2) {
  margin-left: 130px;
}
.footer-top li:nth-of-type(3) {
  margin-left: 130px;
}
.footer-top li:nth-of-type(4) {
  margin-left: 130px;
}

.banner {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
}
.banner .pic {
  height: 480px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner .pic li {
  height: 480px;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 1640px;
}
.banner .pic .picfirst {
  left: -280px;
}
.banner img {
  display: block;
  border: 0;
}
.banner .btn {
  position: absolute;
  right: 200px;
  bottom: 30px;
}
.banner .btn span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background: none;
  border: 1px solid #fff;
  margin-left: 5px;
  cursor: pointer;
}
.banner .btn .btnhover {
  background: #fff;
}

.menu {
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 10;
  width: 250px;
  height: 480px;
  background-color: rgba(248, 247, 247, 0.8);
}
.menu > li:hover {
  background: #fff;
}
.menu h4 {
  font-weight: normal;
  padding-bottom: 8px;
}
.menu h4 a {
  color: #333;
}
.menu ul {
  overflow: hidden;
  width: 192px;
  height: 19px;
  position: relative;
}
.menu ul li {
  float: left;
  margin-right: 10px;
}
.menu ul a {
  color: #999999;
  font-size: 12px;
}
.menu .more-goods-block {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 250px;
  display: none;
}
.menu .more-goods-block .goods-block {
  display: inline-block;
  float: left;
  height: 480px;
  width: 320px;
  box-sizing: border-box;
}
.menu .more-goods-block .list-unstyled {
  width: 320px;
  padding: 3px 15px;
  box-sizing: border-box;
}
.menu .more-goods-block .list-unstyled li {
  padding: 15px 0;
  width: 46%;
  float: left;
  box-sizing: border-box;
}
.menu .more-goods-block .list-unstyled img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: 0;
}
.menu .more-goods-block .list-unstyled .goods-image {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: left;
  text-align: center;
  box-sizing: border-box;
}
.menu .more-goods-block .list-unstyled .goods-name {
  display: inline-block;
  line-height: 50px;
  margin-left: 8px;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.menu > li {
  padding: 11.5px 20px 10px 22px;
  position: relative;
}

.menu-1:hover .more-goods-block {
  display: block;
}

.purchase-title {
  height: 92px;
  overflow: hidden;
}
.purchase-title .purchase-t {
  float: left;
  margin-top: 34px;
}
.purchase-title span {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
}
.purchase-title strong {
  padding-left: 5px;
  font-weight: normal;
}

.purchase-goods {
  padding-bottom: 20px;
}
.purchase-goods li {
  float: left;
  margin: 0 4px 10px 4px;
  position: relative;
  transition: all 0.2s;
  box-sizing: border-box;
}
.purchase-goods li .scalegoods {
  box-sizing: border-box;
}
.purchase-goods img {
  display: block;
  border: 0;
}

.purchase-goods-left:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}

.purchase-goods-right:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}

.mobilephone {
  background: #F5F5F5;
}

.mobilephone-title {
  height: 92px;
  overflow: hidden;
}
.mobilephone-title .mobilephone-t {
  float: left;
  margin-top: 34px;
}
.mobilephone-title span {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
}
.mobilephone-title strong {
  padding-left: 5px;
  font-weight: normal;
}

.wrapper1240 {
  overflow: hidden;
}

.mobilephone-goods-left, .mobilephone-goods-right {
  float: left;
}
.mobilephone-goods-left a, .mobilephone-goods-right a {
  display: block;
}

.mobilephone-goods-left {
  transition: all 0.2s;
  position: relative;
  z-index: 1;
  margin: 0 5px;
  margin-bottom: 10px;
}

.mobilephone-goods-left:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}

.mobilephone-goods-right {
  width: 930px;
}
.mobilephone-goods-right li {
  float: left;
  margin: 0 5px 10px 5px;
  background: white;
  text-align: center;
  transition: all 0.2s;
}
.mobilephone-goods-right li p {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding-top: 15px;
  margin-bottom: -5px;
}
.mobilephone-goods-right li:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}
.mobilephone-goods-right img {
  display: block;
  border: 0;
  width: 150px;
  height: 150px;
  margin: 25px 0 0 15px;
}
.mobilephone-goods-right .scalegoods-img {
  width: 180px;
  height: 180px;
  margin: 0 60px;
  overflow: hidden;
}
.mobilephone-goods-right .scalegoods-description div {
  font-size: 12px;
  color: #b0b0b0;
  height: 13px;
  padding-bottom: 25px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.mobilephone-goods-right .scalegoods-description span {
  display: block;
  color: #fc6822;
  font-size: 14px;
  padding-bottom: 21px;
}

.parts {
  overflow: hidden;
  background: #F5F5F5;
}

.parts-title {
  overflow: hidden;
  height: 92px;
}
.parts-title .parts-left {
  float: left;
  margin-top: 34px;
  overflow: hidden;
}
.parts-title .parts-left span {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
}
.parts-title .parts-left strong {
  padding-left: 5px;
  font-weight: normal;
}
.parts-title .parts-right {
  float: right;
  overflow: hidden;
}
.parts-title .parts-right .pictab {
  float: left;
  overflow: hidden;
}
.parts-title .parts-right .pictab li {
  float: left;
  height: 91px;
  padding-bottom: 2px;
  text-align: center;
  margin-right: 23px;
  padding: 0 5px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.parts-title .parts-right .pictab .partsactive {
  border-bottom-color: orange;
}
.parts-title .parts-right .pictab .partsactive a {
  color: orange;
}
.parts-title .parts-right .pictab a {
  color: #767676;
  font-size: 16px;
  padding-top: 38px;
}
.parts-title .parts-right a {
  float: left;
  font-size: 16px;
  padding-top: 38px;
  display: inline-block;
  color: #767676;
}
.parts-title .parts-right a img {
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 3px;
}

.parts-goods .content:after {
  content: "";
  display: table;
  clear: both;
}
.parts-goods .content li {
  float: left;
  transition: all 0.2s;
  position: relative;
  z-index: 1;
  margin: 0 5px;
  margin-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
}
.parts-goods .content li:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}
.parts-goods .content .scalegoods {
  width: 300px;
}
.parts-goods .content .scalegoods .scalegoods-img {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  margin-left: 60px;
}
.parts-goods .content .scalegoods .scalegoods-img img {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: 15px;
  border: 0;
  padding-top: 25px;
}
.parts-goods .content .scalegoods .scalegoods-content .goods-title {
  font-size: 15px;
  color: #333;
  height: 30px;
  padding: 0 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 25px;
}
.parts-goods .content .scalegoods .scalegoods-content .goods-price {
  color: #fc6822;
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 10px;
}

.hardware {
  overflow: hidden;
  background: #F5F5F5;
}

.hardware-title {
  height: 92px;
  overflow: hidden;
}
.hardware-title .hardware-t {
  float: left;
  margin-top: 34px;
}
.hardware-title span {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
}
.hardware-title strong {
  padding-left: 5px;
  font-weight: normal;
}

.hardware-goods:after {
  content: "";
  display: table;
  clear: both;
}

.hardware-goods .smart {
  float: left;
  width: 300px;
  text-align: center;
  background: #fff;
  margin: 0 5px 10px 5px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.hardware-goods .smart:hover {
  box-shadow: 0 8px 16px #ddd;
  transform: translate(0, -5px);
}
.hardware-goods img {
  display: block;
  width: 150px;
  height: 150px;
  border: 0;
  padding-top: 25px;
  margin-left: 15px;
}
.hardware-goods .scalegoods-img {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  margin-left: 60px;
}
.hardware-goods .scalegoods-description p {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hardware-goods .scalegoods-description div {
  font-size: 12px;
  color: #b0b0b0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -10px;
}
.hardware-goods .scalegoods-description span {
  display: block;
  margin-top: 18px;
  padding-bottom: 24px;
  color: #fc6822;
}

.hardware-img img {
  display: block;
  border: none;
}

body {
  font-size: 14px;
  color: #333;
  line-height: 1.42857143;
  font-family: "微软雅黑";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, h4 {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1230px;
  margin: 0 auto;
}

.wrapper1240 {
  width: 1240px;
  margin: 0 auto;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.listnav {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 80px;
  width: 42px;
  height: 129px;
}
.listnav a {
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 1px;
  background: url(../images/kf.jpg);
  transition: background-position 1s;
}
.listnav .listnav-1 a {
  background-position: 0 -798px;
}
.listnav .listnav-1 a:hover {
  background-position: 0 -860px;
}
.listnav .listnav-2 a {
  background-position: 0 -426px;
}
.listnav .listnav-2 a:hover {
  background-position: 0 -488px;
}
.listnav .listnav-3 a {
  background-position: 0 -674px;
}
.listnav .listnav-3 a:hover {
  background-position: 0 -736px;
}

#loutinav {
  width: 35px;
  position: fixed;
  z-index: 15;
  top: 200px;
  left: 15px;
  border: 1px solid #ddd;
  display: none;
}

#loutinav ul li {
  width: 35px;
  height: 32px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background: #999;
  color: #fff;
}

#loutinav ul li span {
  width: 35px;
  height: 32px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}

#loutinav ul li.last {
  background: #666;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

#loutinav ul li.loutiactive span {
  background: #c00;
  color: #fff;
  display: block;
}

#loutinav ul li:hover span {
  background: #c00;
  color: #fff;
  display: block;
}

/*# sourceMappingURL=index.css.map */
